:root {
  --black: black;
  --white: #ececec;
  --yellow: #2c331a;
  --grey: #1400FF;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 800vh;
  -webkit-overflow-scrolling: touch;
}

body {
  width: 100vw;
  height: 1200vh;
  overflow-x: hidden;
  background-color: #0008ff;
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ececec;
}

.Home {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
}

.Nav {
  display: flex;
  justify-content: start;
  padding: 2% 7%;
}

.logo {
  height: 60px;
}

.title {
  display: flex;
}

.eatvege {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.eatvege .img {
  width: 40%;
  height: 100%;
  background-image: url("img/Bdx.png");
  width: 65%;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.eatvege .text {
  height: 100%;
  width: 50%;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: flex-end;
  font-weight: 200;
}
.eatvege .text span {
  color: #0008ff;
  font-weight: 400;
}
.eatvege .text h1 {
  color: black;
  font-size: 160px;
  line-height: 120px;
}

.newBackground {
  justify-content: flex-start;
}

.circle {
  position: fixed;
  background-color: #ececec;
  width: 105vw;
  height: 337px;
  left: 0px;
  transform: translate(0%, -50%);
  z-index: 2;
  clip-path: ellipse(50% 14% at 50% 75%);
}

.circle1 {
  top: 62px;
}

.circle2 {
  bottom: -105px;
}

.threeD {
  height: 100vh;
  display: flex;
  align-items: center;
  width: 600vw !important;
  overflow: hidden;
  background-color: transparent;
  position: relative;
}
.threeD .horizontal {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: transparent;
  padding: 0 20vw;
  background-position: bottom;
  background-size: cover;
}
.threeD .horizontal .img1, .threeD .horizontal .img2, .threeD .horizontal .img3, .threeD .horizontal .img4, .threeD .horizontal .img5, .threeD .horizontal .img6 {
  transition-duration: 1s;
  height: 55vh;
  width: 55vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.threeD .horizontal .img1 {
  background-image: url("img/pizza.png");
}
.threeD .horizontal .img2 {
  background-image: url("img/pbSport.png");
}
.threeD .horizontal .img3 {
  background-image: url("img/bo7.png");
}
.threeD .horizontal .img4 {
  background-image: url("img/pbRestaurant.png");
}
.threeD .horizontal .img5 {
  background-image: url("img/sapApp.png");
}
.threeD .horizontal .img6 {
  background-image: url("img/aubrac.png");
}
.threeD .horizontal h1 {
  font-size: 20px;
  line-height: 120px;
  color: #0008ff;
  font-family: "roc-grotesk", sans-serif;
  font-weight: 300;
  z-index: 1005;
  text-transform: uppercase;
}
.threeD .horizontal .textPres {
  display: none;
}
.threeD .horizontal h2 {
  font-size: 32px;
  line-height: 120px;
  color: #0008ff;
  font-family: "roc-grotesk", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  z-index: 5;
  display: none;
  animation-delay: 1s;
}
.threeD .horizontal p {
  text-align: center;
  color: #0008ff;
  font-family: "roc-grotesk", sans-serif;
  font-size: 24px;
  align-items: end;
}
.threeD .horizontal p > span {
  overflow: hidden;
  display: block;
}
.threeD .horizontal p > span > span {
  display: block;
  animation-delay: 1s;
  transform: translateY(100%);
}
.threeD .white {
  width: 100vw !important;
}

.span1 {
  animation: spanFadeIn 1s ease forwards;
}

.transition {
  background-color: #ececec;
  transform: translateY(4px);
  background-size: cover;
  height: 600px;
  width: 100%;
}

/* ------Home------ */
.HomeBackground {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition-duration: 1s;
  border-radius: 32px;
}
.HomeBackground h1 {
  z-index: 5;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "roc-grotesk", sans-serif, sans-serif;
  font-size: 224px;
  font-weight: 800;
  color: black;
}
.HomeBackground .specialFont {
  z-index: 10;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "flood-std", sans-serif;
  font-size: 344px;
  font-weight: 300;
  color: #0008ff;
  width: 100%;
  display: flex;
  justify-content: center;
  font-style: normal;
}

.HomeBackground h1 span {
  overflow: hidden;
  display: block;
}

.animationAppearing h1 span span {
  transform: translateY(-100%);
  display: flex;
  align-items: center;
  animation: appearing 1s ease forwards;
  animation-delay: 1s;
  font-family: "dharma-gothic-c", sans-serif;
}

.HomeBackground h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 20px 0;
  color: black;
  font-family: "roc-grotesk", sans-serif;
}

.HomeBackground .scrollInstruction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition-duration: 1s;
}

.HomeBackground .mouseScroll {
  height: 50px;
  width: 30px;
  border: 2px solid black;
  border-radius: 20px;
  position: relative;
}

.HomeBackground .mouseScroll div {
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 20px;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: scrolling 2s infinite;
}

/* ------Menu------ */
.Menu {
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  padding: 0 0 0 7%;
  position: relative;
  overflow: hidden;
  background-color: #ececec;
}
.Menu .titles {
  width: 90%;
  height: 95%;
  padding-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  z-index: 5;
}
.Menu .titles h2 {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 500;
  font-size: 96px;
  text-align: start;
  color: black;
  margin: 1% 0;
}
.Menu .titles h2 span {
  font-weight: 500;
  font-size: 96px;
  color: transparent;
  -webkit-text-stroke: 1px #0D0630;
}
.Menu img {
  position: absolute;
  top: 5%;
  right: -5%;
  width: 32rem;
  z-index: 0;
}

.cursor {
  position: fixed;
  z-index: 5;
  width: 32px;
  height: 32px;
  background-color: black;
  border-radius: 50%;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
  z-index: 200;
}

.pictures {
  height: 100vh;
}

.DarkModeActive {
  background-color: var(--black);
  color: var(--white);
}

.text {
  width: 35%;
  padding: 0 7% 0% 7%;
  color: black;
  font-family: "roc-grotesk", sans-serif;
  font-size: 24px;
  display: flex;
  align-items: end;
}

.Tech {
  display: flex;
  height: 20vh !important;
  gap: 10%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Tech pre {
  font-size: 24px !important;
  width: 50%;
  transform: translateX(-30%);
}
.Tech p {
  color: black;
  font-family: "roc-grotesk", sans-serif;
  font-size: 24px;
  width: 100%;
  text-align: center;
}
.Tech p span {
  color: #0008ff;
}

.Dtext {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.About3D {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition-delay: 2s;
  background-color: var(--white);
}
.About3D div {
  display: flex;
  gap: 40px;
}
.About3D .btn3d {
  font-family: "roc-grotesk", sans-serif;
  font-size: 104px;
  width: 100px;
  height: 140px;
  perspective: 800px;
}
.About3D .btn3d .btn__flip {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform-origin: center bottom 70px;
  transition: transform;
  transform: rotateX(0deg);
  text-decoration: none;
}
.About3D .btn3d .btn__flip .btn__flip--off {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(0deg) translateZ(70px);
  -webkit-text-stroke: 2px;
  color: black;
  text-decoration: none;
  background-color: var(--white);
  font-weight: 600;
}
.About3D .btn3d .btn__flip .btn__flip--on {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(90deg) translateZ(70px);
  color: black;
  text-decoration: none;
  background-color: var(--white);
  font-weight: 600;
  font-family: "roc-grotesk", sans-serif;
}

.knowMoreButton {
  cursor: pointer;
}

.About3D2 {
  padding: 7% 0;
}

.WB1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(0%, -50%);
  z-index: 4;
}

.WB2 {
  position: absolute;
  background-color: #ececec;
  width: 200vh;
  height: 337px;
  top: 16px;
  left: 0px;
  transform: translate(0%, -50%);
  z-index: 4;
  clip-path: ellipse(50% 12% at 50% 75%);
}

.left {
  left: 0;
}

.blueScreen {
  background-color: #ececec;
  padding: 0 7%;
  width: auto;
  background-position: bottom;
  background-size: cover;
  height: 20vh !important;
}

@keyframes scrolling {
  0% {
    top: 10px;
    opacity: 1;
  }
  50% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: 35px;
    opacity: 0.1;
  }
}
.Contact {
  background-color: #0008ff;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 0 7%;
  gap: 2rem;
  width: auto;
}
.Contact p {
  color: var(--white);
  font-family: "roc-grotesk", sans-serif;
  font-size: 24px;
  text-align: start;
  font-weight: 300;
}
.Contact h2 {
  color: var(--white);
  font-family: "roc-grotesk", sans-serif;
  font-weight: 500;
  font-size: 96px;
}
.Contact h3 {
  color: var(--white);
  font-family: "roc-grotesk", sans-serif;
  font-weight: 500;
  font-size: 34px;
}
.Contact a {
  text-decoration: none;
}

@keyframes spanFadeIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

/*# sourceMappingURL=style.css.map */
